/* CSS declarations go here */
.map {
  min-height: 300px;
  min-width: 50%;
}

.route {
  h3 {
    margin-top: 0;
  }
  dl.stats {
    margin-top: 10px;
  }
  ul.route-photos {
    margin-top: 20px;
    padding: 0;

    img.route-photo {
      max-width: 100px;
      max-height: 100px;
      margin-right: 2px;
    }
  }
}
